<section class="typeOfDateHolder">

  <div class="dateLine">
    <span>B,N of \ om te "backspace"</span>
    <h2>Dag - Maand - Jaar</h2>
    <p id="date"></p>
  </div>

<div class="holderForLabel">
  <span>p</span>
  <select class="borderSolid" id="weekPick" name="datePlacement">
    <option value="1">Eerste</option>
    <option value="2">Tweede</option>
    <option value="3">Derde</option>
    <option value="4">Vierde</option>
  </select>
</div>

<div class="holderForLabel">
<span>[</span>
  <select class="borderSolid" id="dayPick" name="typeOfday">
    <option value="1">maandag</option>
    <option value="2">dinsdag</option>
    <option value="3">woensdag</option>
    <option value="4">donderdag</option>
    <option value="5">vrijdag</option>
    <option value="6">zaterdag</option>
    <option value="7">zondag</option>
  </select>
  </div>

  <div class="holderForLabel">
    <span>]</span>
  <select class="borderSolid" id="monthPick" name="month">
    <option value="0">january</option>
    <option value="1">febuary</option>
    <option value="2">maart</option>
    <option value="3">april</option>
    <option value="4">mei</option>
    <option value="5">juni</option>
    <option value="6">juli</option>
    <option value="7">augustus</option>
    <option value="8">september</option>
    <option value="9">oktober</option>
    <option value="10">november</option>
    <option value="11">december</option>
  </select>
</div>
<div class="holderForLabel">
  <span>=</span>
  <button type="submit" name="button" id="submitDate" class="hoverShadow transition borderSolid selectButton">Maak date</button>
</div>
</section>
