<!doctype html>
<html lang="nl-NL" class="svg" data-stats-parentsite="one-ah" data-stats-id="appie-web">

<head prefix="og: http://ogp.me/ns#">
  <title>
    Albert Heijn</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="robots" content="noodp">
  <meta name="theme-color" content="#2f7fb5">
  <meta name="msapplication-TileColor" content="#2f7fb5">
  <meta name="settings:domain" content="ah">
  <meta name="settings:online-order" content="false">
  <meta name="settings:is-reopened-order" content="false">
  <meta name="settings:shopping-type" content="UNKNOWN">
  <meta name="settings:hide-navigation" content="false">
  <meta name="settings:is-mobile" content="">
  <meta name="settings:is-modal" content="false">
  <meta name="settings:js-base-url" content="https://static.ah.nl/1.383.0/_js">
  <meta name="settings:js-fallback-base-url" content="/1.383.0/_js">
  <meta name="settings:captcha-site-key" content="6LdbmCYUAAAAAAp9vpGOPF8EXe78xqmglAhZWJwD">
  <meta name="settings:map-key" content="key=AIzaSyCK0hegoFuRoTg0Hx2MiSJfRaVZuAcje70&">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://static.ah.nl/1.383.0/_ui/ecommerce-ah-online-settings.min.css">
  <link rel="stylesheet" href="https://static.ah.nl/1.383.0/_ui/ecommerce-ah-online-navigation.min.css">
  <link rel="canonical" href="https://www.ah.nl/kies-moment/bezorgen/2071EN" />
  <link rel="alternate" href="https://www.ah.nl/kies-moment/bezorgen/2071EN" hreflang="nl-NL" />
  <meta name="description" content="Online bij Albert Heijn al je boodschappen thuisbezorgd of ophalen. Albert Heijn">

  <link rel="stylesheet" href="/css/ah.css">
  <link rel="stylesheet" href="/css/ah2.css">
  <link rel="stylesheet" href="/css/ah3.css">






  <meta name="settings:cookie-version" content="1.5">



  <div class="navigation" data-navigation data-hide-doormat data-url="/service/rest/navigation/root?target=ah.nl&amp;clientTarget=consumer">
    <div class="navigation__scroll-container" data-sections="">
      <div class="navigation__section-container" data-sections="">
        <div class="navigation-section navigation-section--home">
          <a href="/" class="ah-online-icon icon--home link--2 navigation-section__link navigation-section__link--left-icon navigation-section__link--home">Home</a>
        </div>


        <nav class="navigation-section navigation-section--personal">
          <h2 class="navigation-section__title ah-online-icon icon--personal" data-toggle-section=""></h2>
        </nav>

        <nav class="navigation-section navigation-section--common">
          <h2 class="ah-online-icon icon--common navigation-section__title" data-toggle-section="">menu</h2>
          <ul class="navigation-section__list">

          </ul>
        </nav>

        <nav class="navigation-section navigation-section--secondary">
          <h2 class="ah-online-icon icon--secondary navigation-section__title" data-toggle-section="">meer</h2>
          <ul class="navigation-section__list navigation-section__list--foldout">
            <li class="navigation-section__list-item navigation-section__list-item--customerservice">
              <a href="/klantenservice" class="ah-online-icon icon--customerservice link--2 navigation-section__link navigation-section__link--left-icon navigation-section__link--customerservice">Klantenservice</a>
            </li>
            <li class="navigation-section__list-item navigation-section__list-item--business">
              <a href="/zakelijk" class="ah-online-icon icon--business link--2 navigation-section__link navigation-section__link--left-icon navigation-section__link--business">Zakelijk</a>
            </li>
            <li class="navigation-section__list-item navigation-section__list-item--more">
              <a href="/over-ah" class="ah-online-icon icon--more link--2 navigation-section__link navigation-section__link--left-icon navigation-section__link--more">Over Albert Heijn</a>
            </li>
          </ul>
        </nav>

        <div class="navigation-section navigation-section--search navigation-search">
          <form method="post" action="">
            <div class="navigation-search__input-container clear_input_div">
              <input type="text" name="rq" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="paragraph--1 navigation-search__input" data-navigation-autocomplete-input="" placeholder="Zoeken"><a class="paragraph--1 navigation-search__clear-input clear_input">×</a><label
                for="rq" class="ah-online-icon icon--search navigation-search__label"></label>
              <button class="paragraph--1 link--1 link-color--primair navigation-search__close" data-close="">
                Sluiten
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="major">
    <div data-container data-grid-page>
      <div data-region="content"></div>
      <div data-region="drawer" class="drawer"></div>
    </div>
  </div>

  <div data-container="" data-grid-page="">
    <div data-region="content">
      <div class="canvas-page">
        <div class="lane row lane--header" data-lane-id="index_0" id="index_0">
          <header class="order-list__header columns ">
            <div data-notification-header=""></div>
            <div class="order-list-header__text">
              <h2 class="color-salmiak--min4 -inline heading--strong order-list__header-title heading--8">Mijn lijst <span class="color-ah--min4"></span></h2>
            </div><a class="link--1 paragraph--2 order-list__cancel-link color-salmiak--min4" href="/mijnlijst" aria-label="Stoppen met bestellen">Stoppen met bestellen</a>
          </header>
        </div>
        <div class="lane row" data-lane-id="index_1" id="index_1">
          <nav class="wizard column">
            <ul class="list wizard-list">
              <li class="list__item wizard-list__item -active">
                <p class="wizard-list__item__text paragraph--1 -paragraph">Moment kiezen</p>
              </li>
              <li class="list__item wizard-list__item -inactive">
                <p class="wizard-list__item__text paragraph--1 -paragraph">Boodschappen doen</p>
              </li>
              <li class="list__item wizard-list__item -inactive">
                <p class="wizard-list__item__text paragraph--1 -paragraph">Bevestigen</p>
              </li>
            </ul>
          </nav>
        </div>
        <div class="lane row" data-lane-id="index_2" id="index_2">
          <div class="obtainment-method-selector">
            <h3 class="obtainment-method-title heading--9">Hoe wil je je boodschappen ontvangen?</h3><input id="obtainment-method-0" class="obtainment-method-selector__value" type="radio" data-method-index="0" checked="checked" name="obtainment-method"
              data-value="/kies-moment/bezorgen/2071EN" value="bezorgen"><input id="obtainment-method-1" class="obtainment-method-selector__value" type="radio" data-method-index="1" name="obtainment-method" data-value="" value="ophalen"><input id="obtainment-method-2"
              class="obtainment-method-selector__value" type="radio" data-method-index="2" name="obtainment-method" data-value="" value="ophalen-winkel">
            <div id="change" class="obtainment-method-selector__group" data-region="methods"><label class="obtainment-method paragraph--1 -bezorgen" for="obtainment-method-0" data-method-index="0"><span class="obtainment-method__icon-sms"></span><span
                  class="obtainment-method__icon ah-online-icon icon--delivery"></span><span class="obtainment-method__title">AH Bezorgservice</span></label><label class="obtainment-method paragraph--1 -ophalen" for="obtainment-method-1"
                data-method-index="1"><span class="obtainment-method__icon ah-online-icon icon--pickup"></span><span class="obtainment-method__title">AH Pick Up Point</span></label><label class="obtainment-method paragraph--1 -ophalen-winkel" for="obtainment-method-2"
                data-method-index="2"><span class="obtainment-method__icon ah-online-icon icon--store"></span><span class="obtainment-method__title">AH Winkel</span></label></div>
            <div class="obtainment-method-selector__addresses" data-region="addresses">
              <div class="obtainment-address" data-method-index="0">
                <div class="obtainment-address__container">
                  <div class="obtainment-address__value">Bezorging op <strong></strong> Hoofdstraat, 2071 EN SANTPOORT-NOORD<a class="obtainment-address__edit link link--2 color-ah" href="/kies-moment/bezorgen">wijzigen</a></div>
                  <div class="obtainment-address__action"></div>
                </div>
              </div>
              <div class="obtainment-address" data-method-index="1">
                <p class="paragraph--2">Er is geen adres beschikbaar</p>
              </div>
              <div class="obtainment-address" data-method-index="2">
                <p class="paragraph--2">Er is geen adres beschikbaar</p>
              </div>
              <div class="obtainment-address__value marginstest">Wanneer wilt u uw boodschappen ontvangen?</div>

            </div>
          </div>
        </div>
        <!-- here my stuff -->
        <%- include('./pages/picker'); -%>



      </div>
      <div class="lane row -centered flex-lane" data-lane-id="c505" id="c505">
        <div class="order-caption flex-lane__item co-966-order-caption"><span class="ah-online-icon icon--bezorgbundeltest"></span><strong class="paragraph--2 order-caption__title">Bezorgbundel</strong>
          <p class="paragraph--2 order-caption__description"> Bespaar met de AH Bezorgbundel op je bezorgkosten.<a href="/bezorgbundel"> Bestel 'm nu &gt;</a></p>
        </div>
        <div class="order-caption flex-lane__item"><span class="ah-online-icon icon--sms"></span><strong class="paragraph--2 order-caption__title">Nooit meer wachten</strong>
          <p class="paragraph--2 order-caption__description">Op de bezorgdag vind je de verwachte bezorgtijd op onze website. En we sturen je een gratis sms 30 minuten voordat we bij je zijn.</p>
        </div>
        <div class="order-caption flex-lane__item"><span class="ah-online-icon icon--action"></span><strong class="paragraph--2 order-caption__title">Slim boodschappen doen</strong>
          <p class="paragraph--2 order-caption__description">Elke week weer nieuwe acties voor gratis bezorging. En vanaf 3 Allerhande Box gerechten betaal je geen servicekosten.</p>
        </div>
        <div class="order-caption flex-lane__item"><span class="ah-online-icon icon--eco"></span><strong class="paragraph--2 order-caption__title">Alle beetjes helpen</strong>
          <p class="paragraph--2 order-caption__description">Met een groen blok kunnen we je bezorging efficiënter plannen en zijn minder kilometers nodig.</p>
        </div>
      </div>
    </div>
  </div>
  <div data-region="drawer" class="drawer" style=" "></div>
  </div>
