
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inlineFlex {
  display: inline-flex;
}
/* div:nth-child(6) */

/* .fadeOut:first-of-type{
} */
.fadeOut > :not(:last-of-type) {
  opacity: .25;
}
.fadeOut > :last-of-type {
  opacity: .5;
}

.borderRadius {
  border-radius: 5px;
}
.hoverShadow:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.24), 0 3px 5px rgba(0, 0, 0, 0.34);
}
.shadow{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.24), 0 3px 5px rgba(0, 0, 0, 0.34);

}
.transition {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.backgroundImage{
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.borderSolid{
  border: 1px solid #bbb4af;

}
.backgroundImageContain{
    background-size: contain;
}
.good{
  color: #3af947;
}
.bad{
  color: #f9473a;
}



  /* <p> <% console.log(data[0].measurements.bapLevel) %> </p> */
