body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.dateLine, .uitleg{
  position: fixed;
  top: 10px;
  left: 10px;
  border: solid black 1px;
  padding: 10px;
  z-index: 10;
  background-color: white;
}
.dateLine h2, .uitleg h2{
  margin:5px 0;
  font-weight: bold;
}
.uitleg{
  width: 350px;
  right:10px;
  top: 90px;
}
