@font-face {
  font-family: 'Commodore';
  src: url('../font/Commodore.ttf')  format('truetype')
}
span {
  font-weight: bold;
}
main{
  font-family: 'Commodore', sans-serif !important;

}
.saveHolder{
  width: 150px;
  height: 125px;
  position: fixed;
  bottom: 50px;
  right: -150px;
  background-color: white;
  z-index: 50;
  text-align: center;
}
.slideIn{
  right: 10px;
}
.saveHolder img{
  padding: 5px;
  width: 100%;
  height: 100%;
}
.dateLine, .uitleg {
  position: relative;
  width: calc(100% - 10px);
  margin: 0 auto;
  padding: 10px 5px;
  border: solid #bbb4af 1px;
  border-radius: 8px;
  background-color: white;
}

.dateLine span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: .75rem;
}

.dateLine h2, .uitleg h2 {
  margin: 5px 0;
  font-weight: bold;
}

.uitleg {
  top: 90px;
  right: 10px;
  width: 350px;
}

.typeOfDateHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 750px;
  margin: 10px auto;
  text-align: center;
}

.holderForLabel {
  position: relative;
  width: calc(25% - 10px);
  margin: 5px;
}

.holderForLabel span {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px;
  font-size: 20px;
}

.typeOfDateHolder select:focus, #submitDate:focus {
  background-color: #d9d5d0;
}

/* .typeOfDateHolder select:focus > span{
  color: white;
} */
.typeOfDateHolder select, .selectButton {
  width: 100%;
  height: 85px;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  text-transform: capitalize;
  border-radius: 8px;
  background-color:#96968C;
  font-size: 20px;
}

.selectButton, span {
  /* color: #3b9fe2; */
  color: white;
}

.typeOfDateHolder select option {
  height: 75px;
  line-height: 75px;
}
