<%- include('../partials/header'); -%>
<main>
  <%- include('../partials/typepicker'); -%>

  <section class="numberPadHolder">
    <div class="saveHolder borderRadius shadow transition">
      <img src="img/casset.svg" alt="">
      Saving to tape drive
    </div>


    <%- include('../partials/clock'); -%>

  </section>
</main>
<!--  -->

<%- include('../partials/tails'); -%>
